/* FONTS */ 
/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

:root { 
    --darkgrey: #343d46;
    --slate: #4f5b66;
    --display: #c0c5ce;
}
body { 
    background-color: var(--darkgrey);
    font-family: "Montserrat", serif;
    font-weight: 600; 
    font-size: 50px; 
}

.container {
    display: flex; 
    width: 100%; 
    height: 100vh; 
    justify-content: center;
    align-items: center;
}
.calculator-exterior { 
    width: 500px; 
    height: 700px; 
    background-color: var(--slate);
    display: flex; 
    justify-content: center;
    flex-wrap: wrap; 

}
.caclulator-screen {
    background-color: var(--darkgrey);
    width: 90%; 
    height: 100px;
    position: relative; 
    top: 5%; 
    text-align: right;    
    display: flex; 
    justify-content: right;
    align-items: start;
}
.calculator-display { 
    height: 90%; 
    color: var(--display); 
    margin: 5% 4%;
    
}


/* GRID CONTAINER */ 

.grid-container { 
    margin-top: 10%; 
    display: grid; 
    height: 70%; 
    width: 90%; 
    grid-template-columns: 25% 25% 30% 20%; 
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas: 
        "special special special operation"
        "number number number operation"
        "number number number operation"
        "number number number operation"
        "number number number operation"
        "number number number operation";
}

.grid-special-buttons-container {
    grid-area: special; 
    display: flex; 
    flex-direction: row; 
    justify-content: right;
    gap: 10px; 
    margin: 5px; 
    position: relative; 
    left: -6px; 
}
.grid-operations-container { 
    grid-area: operation; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
}


.grid-numbers-container { 
    grid-area: number; 
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: right; 
    text-align: center; 
    align-items: center;
    gap: 10px; 
    margin-right: 8px; 
}
.operations { 
    background-color: var(--display); 
    height: 87px;
    width: 100%; 
    text-align: center; 
    border: 1px solid black; 
    display: flex; 
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
}
.operations p { 
    /* For centering the asterisk. Otherwise it's too high. */ 
    position: relative; 
    top: 10%; 
    
}

.numbers {
    background-color: var(--display); 
    width: 30%;
    flex-grow: 1; 
    height: 87px;
    cursor: pointer; 
    border: 1px solid black; 
    border-radius: 10px; 
    
}

#number-0 { 
    flex-grow: 2; 
}

.special-buttons { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background-color: red; 
    width: 32%; 
    flex-grow: 1; 
    text-align: center; 
    background-color: var(--display);
    border: 1px solid black; 
    border-radius: 10px; 
}